<html>
	<head>
		<title>Potin Show</title>
	</head>
	<body>
		
		<center>
			<h1>PAGE POTIN</h1>
		<h2>Voici la page du potin n°<%=i%> </h2>
		<p>
			Son auteur :==<%=gossip[0]%>== <br/>
			Le  contenu du potin :==<%=gossip[1]%>==
		</p>
		<p><a href="/">Revenir à la page de potin</p>
	</center>
	</body>
</html>